<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>VeicInventory</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='index.css') }}">
  <script src='main.js'></script>
</head>
<body>
  <div class="container">

    <h1>Informações do Veículo</h1>

    <form action="{{ url_for('index.send_file') }}" method="POST">
      <div class="vehicle">
        <label for="year">Ano:</label>
        <input type="number" name="year[]" placeholder="Ex: 2024" required>

        <label for="fuel">Tipo de Combustível:</label>
        <select name="fuel[]" required>
          <option value="">Selecione...</option>
          <option value="Gasolina">Gasolina</option>
          <option value="Álcool">Álcool</option>
          <option value="Diesel">Diesel</option>
          <option value="Elétrico">Elétrico</option>
          <option value="Flex">Flex</option>
        </select>

        <label for="subcategory">Subcategoria:</label>
        <input type="text" name="subcategory[]" placeholder="Ex: SUV" required>
      </div>

      <div class="vehicle">
        <label for="year">Ano:</label>
        <input type="number" name="year[]" placeholder="Ex: 2024" required>

        <label for="fuel">Tipo de Combustível:</label>
        <select name="fuel[]" required>
          <option value="">Selecione...</option>
          <option value="Gasolina">Gasolina</option>
          <option value="Álcool">Álcool</option>
          <option value="Diesel">Diesel</option>
          <option value="Elétrico">Elétrico</option>
          <option value="Flex">Flex</option>
        </select>

        <label for="subcategory">Subcategoria:</label>
        <input type="text" name="subcategory[]" placeholder="Ex: Hatch" required>
      </div>

      <button type="submit" class="btn" style="background-color: #28a745; margin-top: 10px;">Enviar</button>
    </form>
  </div>
</body>
</html>
